body {
    text-align: center;
    height: 1vh; 
    font-family: helvetica, tahoma;
    background-image: url("/images/background.jpeg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
    background-attachment: fixed;
}

h1 { 
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    background-color: rgb(0, 0, 0,0.7);
    color: #a1cc87
}

h2 { 
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.7);
  color: #a1cc87
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: auto;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049c7;
  }
  
  div {
    border-radius: 10px;
    padding: 20px;
  }

  .form-container{
    display: flex;
    justify-content: center;
  }
  .addstaff-form{
    width:30%;
    padding: 2em;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.7);
    color: white;
  }