body {
    text-align: center;
    height: 1vh; 
    font-family: helvetica, tahoma;
    background-image: url("/images/background.jpeg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
    background-attachment: fixed;
  }
  
  h1,h2 { 
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    background-color: rgb(0, 0, 0,1);
    color: #a1cc87
  }
  
  button{
    width: auto;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  label{
    width: auto;
    /* background-color: #4CAF50; */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
  }
  input{
    width: auto;
    /* background-color: #ffffff; */
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
  }
  
div {
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 10px;
  }
  #table {
    background-color:  rgb(0, 0, 0,0.7);
    border-collapse: collapse;
    width: 100%;
  }
  
  #table td, #table th {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  #table tr:nth-child(even){background-color: #ddd;}
  
  #table tr {background-color: #ddd;}
  
  #table th {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

#report{
    padding: 0.5em;
    font-size: 1.2em;
    margin: 0 auto;
    display: block;
}